@import 'colors';
@import 'normalize';
@import 'typography';

body {
  font-family: -apple-system, BlinkMacSystemFont,
  'avenir next', avenir,
  'helvetica neue', helvetica,
  ubuntu,
  roboto, noto,
  'segoe ui', arial,
  sans-serif;
}

header {
  height: 100vh;
  background:  url('../images/snapp-image.png') no-repeat right bottom, 
  linear-gradient(#f4fbfd, #d7f6ff);
  background-size: contain;

  @media screen and (max-width: 30em) {
    background-position: right top;
  }
}

.main-container {
  max-width: 64rem;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;

  @media screen and (max-width: 30em) {
    align-items: flex-end;
  }
}

.snapp-text {
  width: 50%;
  @media screen and (max-width: 30em)  {
    width: 100%;
  }
}

.title {
  color: $main-text;
  font-size: 6rem;
  letter-spacing: -1.5px;
  margin: 0 0 2rem;

  @media screen and (max-width: 30em){
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.paragraph {
  color: lighten($main-text, 30%);
  max-width: 30em;
  margin: 0;
}

.store-bages {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2rem 0;

  @media screen and (max-width: 30em){
    padding: 0;
  }
}

.ios {
  margin-right: 1rem;

  img {
    height: 2.725rem;
  }
}

.android {
  img {
    height: 4rem;
  }
}