@import 'colors';
@import 'fonts';
@import 'normalize';
@import 'typography';

body {
  font-family: $snapp-font;
}

div {
  box-sizing: border-box;
}

.background {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(236, 181, 189, 0.5), rgba(191, 223, 212, 0.5));
  // overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  @media screen and (max-width: 60em) {
    height: auto;
  }
  
}

.hand {
  width: 50%;
  height: auto;
  z-index: 1;

  @media screen and (min-width: 30em) and (max-width: 60em) {
    background-size: contain;
    background-position: center;
  }

  @media screen and (max-width: 60em) {
    background-size: 90%;
    background-position: right 30%;
  }
}

.snapp-text {
  width: 50%;

  @media screen and (max-width: 30em)  {
    width: 100%;
  }
}

.content {
  width: 50%;
  z-index: 10;
}

.title {
  color: $main-text;
  font-size: 3rem;
  letter-spacing: -1px;
  margin: 0 0 1rem;

  @media screen and (min-width: 30em) and (max-width: 60em) {
    font-size: 4rem;
    letter-spacing: -1.5px;
    margin: 0 0 2rem;
  }

  @media screen and (min-width: 60em){
    font-size: 6rem;
    letter-spacing: -1.5px;
    margin: 0 0 2rem;
  }
}

.paragraph {
  color: lighten($main-text, 10%);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  max-width: 24em;
  margin: 0;
  letter-spacing: -0.5px;

  @media screen and (min-width: 60em){
    font-size: 1.5rem;
    margin: 0;
  }
}

.help-text {
  color: lighten($main-text, 10%);
  font-size: .85rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2rem;
}

.help-button {
  color: lighten($main-text, 10%);
  font-weight: 600;
  text-decoration: none;
  box-shadow: inset 0 -0.35em 0 0 #32DAE9, 0 0.1em 0 0 #32DAE9;
  transition: box-shadow .25s ease-in-out;

  &:hover {
    box-shadow: inset 0 -1.2em 0 0 #32DAE9, 0 0.1em 0 0 #32DAE9;
  }
}
.store-bages {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 2rem;

  @media screen and (min-width: 30em) {
    flex-direction: row;
    margin-top: 3rem;
  }
}

.ios {
  margin-right: 1rem;

  img {
    width: 100%;
  }
}

.android {

  img {
    width: 100%;
    max-width: 135px;
  }
}